<section id="about" class="text-center py-5" data-bs-theme="dark">
    <div class="container">
      <h2 class="mb-4">Sobre mí</h2>
      <p class="lead">
        Soy <b>Analista Universitario de Sistemas</b>, graduado de la <b>Universidad Tecnológica Nacional (UTN)</b> de Rosario, ciudad en la que actualmente resido, aunque nací en Venado Tuerto. Además, estudié durante cuatro años la <b>Licenciatura en Física</b>, lo que me ha permitido desarrollar un enfoque analítico y detallado para la resolución de problemas.
        <br><br>
        Durante el secundario, asistí a la Escuela <b>Cultura Inglesa</b>, donde me especialicé en inglés, lo que me ha permitido adquirir un buen dominio del idioma. Esto me facilita trabajar en equipo y acceder a fuentes de conocimiento internacionales para seguir aprendiendo y desarrollándome de manera continua.
      </p>
      <br>
      <div class="container">
        <h2 class="mb-4">Mis habilidades</h2>
        <div class="row">
          <!-- Primera fila -->
          <div class="col-md-6">
            <h4 class="mb-3">Lenguajes de Programación</h4>
            <div class="d-flex justify-content-center flex-wrap">
              <img src="../../assets/icons/js.svg" alt="Javascript" style="max-width: 5vw; height: auto;">
              <img src="../../assets/icons/ts.svg" alt="Typescript" style="max-width: 7.8vw; height: auto;">
              <img src="../../assets/icons/csharp.svg" alt="C#" style="max-width: 5.5vw; height: auto;">
              <img src="../../assets/icons/java.svg" alt="Java" style="max-width: 6.7vw; height: auto;">
              <img src="../../assets/icons/python.svg" alt="Python" style="max-width: 5.5vw; height: auto;">
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="mb-3">Frameworks y Librerías</h4>
            <div class="d-flex justify-content-center flex-wrap">
              <img src="../../assets/icons/angular.svg" alt="Angular" style="max-width: 5vw; height: auto;">
              <img src="../../assets/icons/react.svg" alt="React" style="max-width: 5vw; height: auto;">
              <img src="../../assets/icons/bootstrap.svg" alt="Bootstrap" style="max-width: 7.5vw; height: auto;">
              <img src="../../assets/icons/node.svg" alt="Node" style="max-width: 8.5vw; height: auto;">
            </div>
          </div>
        </div>
  
        <div class="row mt-4">
          <!-- Segunda fila -->
          <div class="col-md-6">
            <h4 class="mb-3">Bases de Datos y Gestores de DB</h4>
            <div class="d-flex justify-content-center flex-wrap">
              <img src="../../assets/icons/mysql.svg" alt="MySQL" style="max-width: 7.5vw; height: auto;">
              <img src="../../assets/icons/sqlserver.svg" alt="SQLServer" style="max-width: 7.5vw; height: auto;">
              <img src="../../assets/icons/mongodb.svg" alt="MongoDB" style="max-width: 4.8vw; height: auto;">
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="mb-3">Control de Versiones</h4>
            <div class="d-flex justify-content-center flex-wrap">
              <img src="../../assets/icons/github.svg" alt="Github" style="max-width: 5vw; height: auto;">
              <img src="../../assets/icons/git.svg" alt="Git" style="max-width: 5.5vw; height: auto;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>