//Programing Lenguages
.TypeScript{
    max-width: 11.8%;
    height: 11.8%;
    margin-top: 4.1%
}
.JavaScript,.Python, .Csharp {
    max-width: 12.5%;
    height: auto;
}
.Java{
    max-width: 10.5%;
    height: auto;
}

// Frameworks and libraries
.Angular{
    max-width: 12.8%;
    height: auto;
    margin-top: 2.5%;
}
.Node{
    max-width: 17%;
    height: 17%;
    margin-top: 3%;
}
.Pandas{
    max-width: 16%;
    height: 16%;
    border-radius: 2%;
    margin-top: 3.2%;
}
.Bootstrap{
    max-width: 15%;
    height: 15%;
    margin-top:4% 
}
.NET {
    max-width: 11.6%;
    height: auto;
    margin-top: 2.5%;
}

//DBTechs
.MySQL{
    max-width: 14.5%;
    height: 14.5%;
}
.SQLServer{
    max-width: 12%;
    height: 12%;
}
.MongoDB{
    max-width: 13%;
    height: auto;
    margin-bottom: 2%;
}
.MikroORM{
    max-width: 12%;
    height: 12%;
    border-radius: 8%;
}

//ControlVersion
.GitHub{
    max-width: 13%;
    height: 13%;
}
.Git{
    max-width: 15%;
    height: 15%;
    top: 0%;
}



