<section id="projects" class="py-5" data-bs-theme="dark">
    <div class="container">
      <h2 class="text-center mb-4">Mis Proyectos</h2>
  
      <!-- Barra de opciones -->
      <div class="mb-4 text-center">
        @for ( tech of technologies; track tech ){
          <input type="checkbox" class="btn-check" id="btn-{{ tech }}" [checked]="isTechnologySelected(tech)" (change)="toggleTechnologySelection(tech)">
          <label class="btn btn-outline-primary me-2 mb-2" for="btn-{{ tech }}">
            {{ tech }}
          </label>
        }

        <input type="checkbox" class="btn-check" id="btn-includeWork" [checked]="includeWork" (change)="toggleWorkFilter()">
        <label class="btn btn-outline-danger me-2 mb-2" for="btn-includeWork">
          Trabajos
        </label>

        <button
          class="btn btn-outline-secondary me-2 mb-2"
          [class.active]="selectedTechnologies.length === 0"
          (click)="clearSelections()">
          Todos
        </button>
      </div>
  
      <div class="row">
        <!-- Proyectos visibles -->
        @for ( project of visibleProjects ; track project.title) {
          <div class="col-md-4 mb-4">
            <app-cards-proyects [project]="project" >
              <button class="btn btn-primary mt-3" (click)="openModal(project)">Ver más</button>
            </app-cards-proyects>
          </div>
        }
      </div>

      @if(selectedProject){
        <app-project-modal [project]="selectedProject"
        (close)="closeModal()"></app-project-modal>
      }
  
      <!-- Botón para mostrar más -->
      <div class="text-center mt-4">
        @if (!showAll) {
          <button class="btn btn-primary" (click)="toggleShowAll()">Mostrar más</button>
        }
        @if (showAll) {
          <button class="btn btn-secondary" (click)="toggleShowAll()">Mostrar menos</button>
        }
      </div>

    </div>
  </section>