<section id="contact" class=" pt-5 pb-3" data-bs-theme="dark">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-4">Contacto</h2>
        <p class="lead">¿Tienes alguna pregunta o quieres trabajar conmigo? ¡Hablemos!</p>
        <a href="mailto:betesjoaquin@gmail.com" class="btn btn-outline-light btn-lg">Contáctame</a>
      </div>
      <div class="d-flex justify-content-between mt-4 ">
        <a href="https://www.linkedin.com/in/joaquin-betes/" class="text-light text-decoration-none contacts" target="_blank" rel="noopener">
          <img class="LinkedIn" src="/joaquin_betes_portfolio/assets/icons/linkedin.svg" alt="LinkedIn">
        </a>
        <span  class="text-light text-center text-decoration-none contacts" target="_blank" rel="noopener">
           <i class="text-mail">betesjoaquin&#64;gmail.com</i>
        </span>
        <a href="https://github.com/JoaquinBetes" class="text-light  text-decoration-none d-flex justify-content-end contacts" target="_blank" rel="noopener">
          <img class="Github " src="/joaquin_betes_portfolio/assets/icons/github.svg" alt="LinkedIn">
        </a>
      </div>
    </div>

</section>