
.card-title{
    font-size: 1.8rem;
    text-align: center;
}
.card-text{
    font-style: italic;
    margin-left: 1.8rem;
}

.Angular, .React, .Python, .ExpressJs, .Csharp{
    max-width: 10%;
    height: auto;
}

.PHP{
    max-width: 15%;
    height: auto;
}

.MySQL{
    max-width: 10.5%;
    height: auto;
}
.SQLServer{
    max-width: 12%;
    height: auto;
}

.Node{
    max-width: 18%;
    height: auto; 
}

.MikroORM, .TypeScript, .Pandas{
    max-width: 8.5%;
    height: auto;
    border-radius: 10%;
}
.Pandas{
    max-width: 13.5%;
    height: auto;
    border-radius: 5%;
}

.JavaScript, .NET {
    max-width: 9.3%;
    height: auto;
}