<div class="card h-100 d-flex flex-column ">
  <img [src]="project.image" class="card-img-top img-fluid" [alt]="project.title">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title mb-0">{{ project.title }}</h5>
    <p class="card-text mb-2 mt-0">{{ project.role }}</p>
    <div class="d-flex flex-row justify-content-around mb-3 align-items-center flex-wrap w-100">
      @for(tech of project.technologies ; track tech.name){ 
        <img class="flex-grow-1 {{tech.name}}" src={{tech.icon}} alt={{tech.name}}>
      }
    </div>
    <ng-content></ng-content>
  </div>
</div>
