<header class="text-center mb-5" data-bs-theme="dark">
    <div class="container">
        <div class="row align-items-center">
        <!-- Columna de imagen -->
        <div class="col-md-4 text-center">
            <img src="assets/images/profile.jpg" alt="Mi foto" class="rounded-circle img-fluid mb-3">
        </div>
        <!-- Columna de texto -->
        <div class="col-md-8">
            <h1 class="display-4">¡Hola!AAA</h1>
            
            <em class="lead">Desarrollador Fullstack</em>
            <p class="lead">Orientado al análisis y procesamiento de datos, con un enfoque lógico y detallado para la resolución de problemas.</p>
            
            <a href="#projects" class="btn btn-primary btn-lg">Ver mis proyectos</a>
        </div>
        </div>
    </div>
</header>
